{% extends '../layout.njk' %}

{% block title %}
<link rel="stylesheet" href="../../admin/chef/create.css">
<link rel="stylesheet" href="../../admin/chef/chefs.css">
<title> Gerenciar Chefs </title>
{% endblock title %}

{% block links %}
{% endblock links %}

{% block header %}
<div class="black">
	<div class="logo">
		<img src="/assets/logo2.png" alt="">
		<a class="top-link-recipe" href="/admin/recipes">Receitas</a>
		<a class="top-link-chefs" href="/admin/chefs">Chefs</a>
	</div>
</div>
{% endblock header %}

{% block content %}

<div class="button-create">
	<a href="/admin/chefs/create">Criar Chef</a>
</div>

<section class="gerenciar-chefs">
	<div class="gerenciar">
		<h1>Chefs disponíveis</h1>
	</div>
</section>

<section class="cards">
	{% for chef in chefs %}
	<div class="card" id="{{chef.id}}">
		<img src="{{chef.avatar_url}}" alt="{{chef.id}}">

		<div class="info-left">
			<div class="info">
				<h1>{{chef.name}}</h1>
				<p>Chef</p>
			</div>
		</div>

		<div class="visualizar">
			<a href="/admin/chefs/{{chef.id}}">Visualizar</a>
		</div>
	</div>
	{% endfor %}
</section>

{% endblock content %}

{% block footer %}
<footer>
	<p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

{% endblock footer %}