{% extends "../layout.njk" %}

{%block title%}
  <link rel="stylesheet" href="/admin/edit.css">
  <title>
    Editar Chef
  </title>
  <a href="/admin/recipes">
  	<div class="black">
				<div class="logo">
					<img src="/assets/logo2.png" alt="">
  </a>
				</div>
			</div>
{%endblock title%}


{%block content%}

  <div class="forms">

    <div class="top">
      <h3>{{recipe.name}}</h3>
      <div class="edit-buttons">
        <button type='submit' form='form-delete' class='delete'>Deletar</button>
        <button type='submit' form='form-edit' class='save'>Salvar</button>
      </div>
    </div>
    <form id='form-edit' method='POST' action='/admin/chefs/?_method=PUT'>
      <section class="details">
       {%include './fields.njk' %}

        <input type="hidden" name='id' value="{{chef.id}}">
      </form>
    </section>
    <form id='form-delete' action="/admin/chefs?_method=DELETE" method="POST">
      <input type="hidden" name="id" value='{{chef.id}}'>
        {%include '../../confirm.njk'%}
    </form>

  </div>
{% endblock %}

