<div class="item">
    <div>Fotos</div>
    <div>
        <div id="photos-upload">
            <input 
               id="photos-input" 
               type="file" 
               name="photos"
               multiple
               accept="image/*"
               onchange="PhotosUpload.handleFileInput(event, 5)"
            >
              <p>Selecione até 5 fotos</p>
        </div>

        <div id="photos-preview">
            {%if files %}
                {%for image in files%}
                    <div class="photo" id="{{image.file_id}}">
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i 
                        class="material-icons"
                        onclick="PhotosUpload.removeOldPhoto(event)"
                        >close</i>
                    </div>
                {%endfor%}
                <input type="hidden" name="removed_files"> 
            {%endif%}
        </div>  
    </div>
</div>

<div class="item">
    <div>Nome do Chef</div>
    <div>
    <input 
    type="text" 
    name="name" 
    placeholder="Digite o nome do chef" 
    value="{{chefs.name}}">
    </div>
</div>

   <script src="/scripts/photos-upload.js"></script>
