<div class="item">
    <div>Avatar do Chef</div>
    <div>
    <input 
    type="url" 
    name="image" 
    placeholder="https://" 
    value="{{chef.avatar_url}}">
    </div>
</div>


<div class="item">
    <div>Nome do Chef</div>
    <div>
    <input 
    type="text" 
    name="name" 
    placeholder="Digite o nome do chef" 
    value="{{chefs.name}}">
    </div>
</div>
