{%extends '../layout.njk' %}


{% block title %}
<link rel="stylesheet" href="/admin/chef/show.css">
<title>{{chef.name}}</title>
{% endblock title %}

{% block header %}
<a href="/admin/recipes">
	<div class="logo">
		<img src="/assets/logo2.png" alt="">
</a>
</div>
{% endblock header %}

{% block content %}

<div class="cards">
	<div class="card">
		<section class="details">
			<div class="top">
				<h5>Chef: {{chef.name}} </h5>

				<div class="edit">
					<a href="/admin/chefs/{{chef.id}}/edit" class="button">Editar</a>
				</div>
			</div>

			<div class="recipe-image">
				<img src="{{chef.avatar_url}}" alt="{{chef.name}}">
			</div>

			<div class="recipe-info">
				<div>
					<h2>{{chef.name}}</h2>
					<h4>Receitas: {{recipe.total_recipes}}</h4>
					<p>Membro desde: {{chef.created_at}}</p>
				</div>
			</div>

			<div class="recipes-chef">
				<h1>Receitas Criadas</h1>
			</div>

			<section class="cards-chef">
				{% for recipe in recipes %}
				<div class="card" id="{{recipe.id}}">
					<img src="{{recipe.image}}" alt="{{recipe.id}}">

					<div class="info-left">
						<div class="info">
							<h1>{{recipe.title}}</h1>
							<p>{{recipe.chefs_name}}</p>
						</div>
					</div>

					<div class="visualizar">
						<a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
					</div>
				</div>
				{% endfor %}

			</section>


	</div>
</div>

{% endblock content %}