{%extends '../layout.njk' %}

{% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="main/styles.css">
{% endblock head %}

{% block content %}

<header>
</header>

<div class="corpo">
  <img src="assets/chef.png">
  <div class="corpo-text">
    <h1>As melhores receitas</h1>
    <p>Aprenda a construir os melhores pratos<br>
      com receitas criadas por profissionais<br>
      do mundo inteiro.</p>
  </div>
</div>

<section class="recipes">
  <h1>Mais acessadas</h1>
  <div class="cards">
  {% for recipe in recipes %}
    <div class="card">
      <div class="card_img" data.id={{recipe.id}}>
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
      </div>
      <div class="info">
        <h1>{{recipe.title}}</h1>
        <p>{{chef.name or recipe.chef_name}}</p>
        <div class="visualizar">
          <a href="/infoRecipes/{{recipe.id}}">Visualizar</a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock content %}
