{%extends '../layout.njk' %}


{%block title%}
    <title>Foodfy</title>
{%endblock title%}

{% block content%}
<header>
    <link rel="stylesheet" href="../../main/infoRecipes.css">
</header>

<main>

<div class="highlight">
				<div class="recipe-image">
					{% if not files[0] %}
					<img src="http://placehold.it/900X900?text=RECEITA SEM FOTO" class='active' alt="imagem de {{recipe.title}}">
					{% else %}
					<img src="{{files[0].src}}" alt="{{files[0].name}}">
					{% endif %}
				</div>

				<div class="gallery-preview">
					{% for image in files %}
					<img src="{{image.src}}" alt="{{image.name}}" {% if loop.index0 == 0 %} class='active' {% endif %}
						onclick="ImageGallery.setImage(event)"
						>
					{% endfor%}
				</div>
			</div>

        <div id="ingredientes">
            <div class="subtitle">
                <h1>Ingredientes</h1> <button class="esconder">Esconder</button>
            </div>
            <ul class='hide-ingredientes '>
                {%for ingredient in recipe.ingredients%}
                <li>{{ingredient}}</li>

                {%endfor%}
            </ul>
        </div>
        <div id="prepare">
            <div class="subtitle">
                <h1>Modo de preparo</h1> <button class="mostrar">Mostrar</button>
            </div>
            <p class='hide-prepare display'>{{recipe.preparation}}</p>
        </div>
        <div id="information">
            <div class="subtitle">
                <h1>Informações adicionais</h1> <button class="esconder-information">Esconder</button>
            </div>
            <p class='hide-information '>{{recipe.information}}</p>
        </div>
    </section>
</main>

<script src="/scripts/image-gallery.js"></script>
<script src="/scripts/infoRecipes.js"></script>
{%endblock%}