{%extends '../layout.njk' %}


{% block head %}
<title>Receitas</title>
<link rel="stylesheet" href="../../main/recipes.css">
<link rel="stylesheet" href="../../main/styles.css">
{% endblock head%}

{% block content %}

<header>
</header>

<section class="cards-recipes">
	{% for recipe in recipes %}
	<div class="card-recipes" id="{{recipe.id}}">
		<img src="{{recipe.image}}" alt="{{recipe.id}}">

		<div class="info-left">
			<div class="info">
				<h1>{{recipe.title}}</h1>
				<p>{{recipe.chefs_name}}</p>
			</div>
		</div>

		<div class="visualizar">
			<a href="/infoRecipes/{{recipe.id}}">Visualizar</a>
		</div>

	</div>
	{% endfor %}
</section>

{% endblock %}