{% extends '../layout.njk' %}

{% block head %}
<title>Search...</title>
<link rel="stylesheet" href="../../main/search.css">
{%endblock head%}

{% block content %}
<h2 class="search-page">Procurando por "{{filter}}"</h2>

<section class="cards">
	{% for recipe in recipes %}
	<div class="card" id="{{recipe.id}}">
		<img src="{{recipe.image}}" alt="{{recipe.id}}">

		<div class="info-left">
			<div class="info">
				<h1>{{recipe.title}}</h1>
				<p>{{recipe.chefs_name}}</p>
			</div>
		</div>

		<div class="visualizar">
			<a href="/infoRecipes/{{recipe.id}}">Visualizar</a>
		</div>

	</div>
	{% endfor %}
</section>
{% endblock content%}