@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  padding: 0px 12vmax;
  font-family: 'Roboto', sans-serif;
}


cards-chef .avatar-chef {
    margin: 0 50px 0;

}

.cards-chef  {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-chef .avatar-chef img {
    width: 10vw;
    height: 22vh;
    padding: 5px;
    border: 2px solid rgb(118, 44, 141);
    object-fit: cover;

    margin: 3vmax 0 0;
    border-radius: 100%;
}

.cards-chef .avatar-chef {
  align-items: center;
  justify-content: center;
  display:flex;
}

.card-chef a {
    text-decoration: none;
}

.card-chef img:hover {
	opacity: 80%;
}

.info {
  margin-top: 5px;
}

p {
  margin: 5px 0 0;
}

