@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  padding: 0px 12vmax;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

header img {
  margin-right: 122.4px;

}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;

  color: #111111;
  text-decoration: none;
  margin: 18px;
}

.corpo {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  margin-bottom: 50px;
  background-color: #fbdfdb;
}

.corpo img {
  width: 30vh;
  height: 20vw;
  display: flex;
  position: absolute;
  margin-top: 25px;
  right: 240px;
}

.corpo-text {
  display: flex;
  flex-direction: column;
  padding: 9vmax;
}

.corpo-text h1 {
  font-family: Roboto;
  font-size: 32px;
  color: #292727;

}

.corpo-text p {
  opacity: 0.7;
  font-family: Roboto-Regular;
  align-items: center;
  font-size: 20px;
  color: #000000;
  line-height: 28px;
  margin-top: 5px;
}

.recipes {
  padding: 10px 0px;

}

.recipes h1 {
  color: #111111;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
}

.cards  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card_img img {
  width: 24vw;
  height: 20vh;

  border-radius: 15px;
  margin-bottom: 20px;

  cursor: pointer;
}

.card_img img:hover {
  opacity: 80%;
}

.info h1 {
  font-size: 18px;
  color: #111111;

  font-weight: 500;
  line-height: 21px;
  margin-bottom: 5px;
}

.visualizar a {
  text-decoration: none;
  color: #4835b8;
}

.info p {
  font-size: 14px;
  color: #777777;

  font-weight: 400;
  line-height: 16px;
}

/* filters */

.header-search {
  align-items: center;
  margin-left: 10vmax;

  margin-bottom: 10px;

}

.search {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
}

.header-search  input {
  width: 200px;
  height: 35px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: rgb(235, 230, 230);
  margin-right: 0;
  border: 4px solid  rgb(235, 230, 230);

}

.header-search button {
  width: 110px;
  
  height: 35px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #9472d3;
  font-size: 13px;;
  color: white;
  transition: .7;

  cursor: pointer;
}

.header-search button:hover {
  background-color: #e656ae;  

}

footer {
  width: 100%;
  height: 75px;
  background: #111111;
  position: absolute;
  left: 0;
  margin-top: 80vh;
  margin-bottom: 0;
  align-items: center;
}

footer p {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  line-height: 16px;
  padding: 20px;
  text-align: center;
  align-items: center;

}

