<script>
const formDelete = document.querySelector("#form-delete")
formDelete.addEventListener("submit", function(event) {
    const confirmation = confirm("Are you sure you want to DELETE?")
    if (!confirmation) {
        event.preventDefault()
    }
})
</script>