{% extends "layout.njk" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="styles.css">
{% endblock head %}

{% block content %}


<header>
    <a href="/">
        <img src="/assets/logo.png" alt="Logo Foodfy" />
      </a>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
</header>

    <div class="corpo">
      <img src="assets/chef.png">
    <div class="corpo-text">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos<br>
        com receitas criadas por profissionais<br>
        do mundo inteiro.</p>
      </div>
    </div>


<section class="recipes">

    <h1>Mais acessadas</h1>
    <div class="cards">
        {% for item in items %}
            <div class="card" name="{{recipe.title}}">
                <div class="card_img">
                    <img src="{{item.image}}" alt="Triple bacon burger">
                </div>
                <div class="info">
                    <h1>{{item.title}}</h1>
                    <p>{{item.author}}</p>
                </div>
            </div>
        {% endfor %}
   </section>


  <footer>
    <p>Todos os direitos reservados, receitas Foodfy.</p>
  </footer>

    <script src="/scripts/recipes.js"></script>
{% endblock content %}