{% extends "layout.html" %}

{% block head %}
{% endblock head%}

{% block content %}
<section class="recipes">

    <h1>Mais acessadas</h1>
    <div class="cards">
        <div class="card">
            <div class="card_img">
                <img src="/assets/burger.png" alt="Triple bacon burger">
            </div>
            <div class="info">
                <h1>Triple bacon burger</h1>
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="card">
            <div class="card_img">
                <img src="/assets/pizza.png" alt="Pizza 4 estações">
            </div>
            <div class="info">
                <h1>Pizza 4 estações</h1>
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card">
            <div class="card_img">
                <img src="/assets/espaguete.png" alt="Espaguete ao alho">
            </div>
            <div class="info">
                <h1>Espaguete ao alho</h1>
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card">
            <div class="card_img">
                <img src="/assets/lasanha.png" alt="Lasanha mac n’ cheese">
            </div>
            <div class="info">
                <h1>Lasanha mac n’ cheese</h1>
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card">
            <div class="card_img">
                <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
            </div>
            <div class="info">
                <h1>Docinhos pão-do-céu</h1>
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card">
            <div class="card_img">
                <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
            </div>
            <div class="info">
                <h1>Asinhas de frango ao barbecue</h1>
                <p>por Vania Steroski</p>
            </div>
        </div>
      </div>
   </section>

  <header>
    <a href="/index">
        <img src="/assets/logo.png" alt="Logo Foodfy" />
      </a>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
  </header>

  <main>
    <div class="corpo">
      <img src="assets/chef.png">
    <div class="corpo-text">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos<br>
        com receitas criadas por profissionais<br>
        do mundo inteiro.</p>
      </div>
    </div>

    
  </main>
  <footer>
    <p>Todos os direitos reservados, receitas Foodfy.</p>
  </footer>
</body>
</html>

{% endblock content %}