{% block head %}
 <title>Home</title>
 <link rel="stylesheet" href="styles.css">
{% endblock head%}

{% block links %}
{% endblock links%}

    {% block content %}
    {% endblock content%}

  </main>
  <footer>
    <p>Todos os direitos reservados, receitas Foodfy.</p>
  </footer>
</body>
</html>