{% block head %}
 <title>Home</title>
{% endblock head%}

<link rel="stylesheet" href="styles.css">

  <header>
    <a href="/">
        <img src="/assets/logo.png" alt="Logo Foodfy" />
      </a>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
  </header>

  <main>
    <div class="corpo">
      <img src="assets/chef.png">
    <div class="corpo-text">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos<br>
        com receitas criadas por profissionais<br>
        do mundo inteiro.</p>
      </div>
    </div>

    {% block content %}
    {% endblock content%}

  </main>
  <footer>
    <p>Todos os direitos reservados, receitas Foodfy.</p>
  </footer>
</body>
</html>