<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foodfy</title>
	<link rel="stylesheet" href="recipes.css">
</head>

<body>


	<header>
		<a href="/">
			<img src="./assets/logo.png" alt="Logo Foodfy" />
		</a>
		<a href="/about">Sobre</a>
		<a href="/recipes">Receitas</a>

	</header>

	<section class="cards">
		<div class="card">
			<img src="/assets/burger.png">
			<div class="info">
				<h1>Triplo Bacon burger</h1>
				<p>por Ricardo Golvea</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/pizza.png">
			<div class="info">
				<h1>Pizza 4 queijos</h1>
				<p>por Vania Steroski</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/espaguete.png">
			<div class="info">
				<h1>Espaguete ao alho com molho</h1>
				<p>por Vania Steroski</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/lasanha.png">
			<div class="info">
				<h1>Lasanha com chedar</h1>
				<p>Jorge Luiz</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/burger.png">
			<div class="info">
				<h1>Triplo Bacon burger</h1>
				<p>por Juliano Vieira</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/doce.png">
			<div class="info">
				<h1>Docinho pão do céu</h1>
				<p>por Ricardo Golvea</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/asinhas.png">
			<div class="info">
				<h1>Triplo Bacon burger</h1>
				<p>Jorge Luiz</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/burger.png">
			<div class="info">
				<h1>Triplo Bacon burger</h1>
				<p>por Jorge Relato</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/doce.png">
			<div class="info">
				<h1>Docinhos-pão do céu</h1>
				<p>Jorge Luiz</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/lasanha.png">
			<div class="info">
				<h1>Lasanha com chedar</h1>
				<p>por Júlia Kinoto</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/burger.png">
			<div class="info">
				<h1>Triplo Bacon burger</h1>
				<p>por Fabiana Melo</p>
			</div>
		</div>

		<div class="card">
			<img src="/assets/asinhas.png">
			<div class="info">
				<h1>Asinhas de frango temperadas</h1>
				<p>Jorge Luiz</p>
			</div>
		</div>
	</section>
	</main>
	</div>



	<footer>
		<p>Todos os direitos reservados, receitas Foodfy.</p>
	</footer>



</body>

</html>