{% extends "layout.njk" %}

{% block head %}
<title>Receitas</title>
<link rel="stylesheet" href="recipes.css">
{% endblock head%}

{% block content %}
<section class="black">
	<header>
			<img src="/assets/logo.png" alt="Logo Foodfy" />
 </header>
</section>

<section class="cards">
	{% for item in items %}
	<div class="card" name="{{item.title}}">
		<img src="{{item.image}}">
		<div class="info">
			<h1>{{item.title}}</h1>
			<p>{{item.author}}</p>
		</div>
	</div>
	{% endfor %}

</section>

<script src="/scripts/recipes.js"></script>


<footer>
	<p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

{% endblock %}
