{%extends '../layout.njk' %}
{% block head %}
<title>Chefs</title>
<link rel="stylesheet" href="main/styles.css">
<link rel="stylesheet" href="main/chefs.css">
{% endblock head%}


{%block content%}

<div class="cards">
        {% for chef in chefs %}
            <div class="card" id="{{chef.id}}">
                <div class="avatar-chef">
                    <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
                </div>
                <div class="info">
                    <h3>{{chef.name}}</h3>
                    <h4>{{chef.total_recipes}} Receitas</h4>
                    <!-- <a href="/admin/chefs/{{chef.id}}">Visualizar</a> -->
                </div>
            </div>
        {%endfor%}
    </div>
{%endblock content%}