{%extends '../main/layout.njk' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock head %}

{% block content %}
<header>
    <a>
        <img src="/assets/logo.png" alt="Logo Foodfy" />
      </a>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
    <a href="/chefs">Chefs</a>
    <a href="/admin/recipes">Painel de admin</a>
    <a href="/">
      <i class="material-icons">home</i>
    <a/>
</header>

    <div class="corpo">
      <img src="assets/chef.png">
    <div class="corpo-text">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos<br>
        com receitas criadas por profissionais<br>
        do mundo inteiro.</p>
      </div>
    </div>


<section class="recipes">
    <h1>Mais acessadas</h1>
    <div class="cards">
        {% for item in items %}
            <div class="card" name="{{item.title}}">
                <div class="card_img">
                    <img src="{{item.image}}" alt="{{item.title}}">
                </div>
                <div class="info">
                    <h1>{{item.title}}</h1>
                    <p>{{item.author}}</p>
                </div>
            </div>
        {% endfor %}
   </section>


  <footer>
    <p>Todos os direitos reservados, receitas Foodfy.</p>
  </footer>

    <script src="/scripts/recipes.js"></script>
    
{% endblock content %}