{% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="main/styles.css">
{% endblock head%}

{% block links %}
{% endblock links%}

{% block content %}
<a href="/">
  <i class="material-icons">home</i>
<a/>


</main>
<footer>
  <p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

</body>
</html>
{% endblock content%}

<script src="../../scripts/menu.js"></script>