{% block head %}
<title>Home</title>
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock head%}

{% block links %}
{% endblock links%}

{% block content %}
<a href="/">
  <i class="material-icons">home</i>
<a/>


</main>
<footer>
  <p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

</body>
</html>
{% endblock content%}