{%extends '../layout.njk' %}


{% block head %}
<title>Receitas</title>
<link rel="stylesheet" href="../../main/recipes.css">
{% endblock head%}

{% block content %}

<header>
 </header>
</section>


<section class="cards">
	{% for recipe in recipes %}
		<div class="card" id="{{recipe.id}}">
			<img src="{{recipe.image}}" alt="{{recipe.id}}">

		<div class="info-left">
			<div class="info">
				<h1>{{recipe.title}}</h1>
				<p>{{recipe.chefs_name}}</p>
			</div>
		</div>

			<div class="visualizar">
				<a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
      		</div>
			  
		</div>
	{% endfor %}
</section>

<script src="/scripts/recipes.js"></script>


<footer>
	<p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

{% endblock %}
