<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block title %}
		<title>Foodfy</title>
	{% endblock title %}
</head>
<body>
		{% block header %}
			<div class="logo">
				<img src="/assets/logo2.png" alt="">
			</div>
		{% endblock header %}

		{% block content %}
			

		{% endblock content %}

		{% block footer %}
		<footer>
			<p>Todos os direitos reservados, receitas Foodfy.</p>
		</footer>
{% endblock footer %}
		
</body>
</html>