@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


*{
	margin:0;
	padding:0;
	border:0;
}

body {
    padding: 0px 12vmax;
    font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;

}


header img {
  margin-right: 122.4px;
}

header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;

    color: #111111;
    text-decoration: none;
    margin: 18px;
  }

.corpo {
  width: 100%;
  height: 20vw;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  margin-bottom: 50px;
  background-color: #fbdfdb;
}

.corpo img {
  width: 30vh;
  height: 20vw;
  top: 118px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 230px;
}

.corpo-text {
  display: flex;
  flex-direction: column;
  padding: 6vmax;
}

.corpo-text h1 {
  font-family: Roboto;
  font-size: 32px;
  color: #292727;
 
}

.corpo-text p {
  opacity: 0.7;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  margin-top: 5px;
}

.recipes {
padding: 50px 0px;

}

.recipes h1 {
    color: #111111;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 20px;
}

.card_img img {
  width: 24vw;
  height: 20vh;
  
  border-radius: 15px;
  margin-bottom: 20px;


  cursor: pointer;
}


.info h1 {
    font-size: 18px;
    color: #111111;

    font-weight: 500;
    line-height: 21px;
    margin-bottom: 5px;
}

.info p {
  font-size: 14px;
  color: #777777;

  font-weight: 400;
  line-height: 16px;
}

footer {
  background: #050303;
  height: 70px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}

footer p {
font-size: 14px;
color: #999999;
font-weight: 400;
line-height: 16px;
padding: 23px;

}

header a:hover {
  color: #df972d;
}




