@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


* {
	margin: 0;
	padding: 0;
	border: 0;
}


body {
	padding: 0px 0px;
	font-family: 'Roboto', sans-serif;
}


.black {
	background-color: #111111;
	padding: 0px;
	margin: 0px;
}


.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 20px;
	margin-left: 40px;
	padding: 0 13vmax 0;
	position: relative;
	gap: 70px;
}


.card img {
	width: 14vw;
	height: 29vh;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 20px;
    border: 2px solid rgb(118, 44, 141);
	cursor: pointer
}


.card img:hover {
	opacity: 80%;
}


.info h1 {
	font-size: 18px;
	color: #111111;
	display: grid;

	font-weight: 500;
	line-height: 21px;
	margin-bottom: 5px;
}


.info p {
	font-size: 15px;
	color: #777777;
	margin-top: 5px;
	font-weight: 400;
	line-height: 16px;
}


.visualizar a {
	display: flex;
	margin-top: 5px;
	font-size: 15px;
	text-decoration: none;
	color: rgb(15, 71, 226);
}
	

.gerenciar-chefs h1 {
	display: flex;
	grid-template-columns: 1fr 1fr;
	margin-top: 40px;
	padding: 0 13vmax 0;

	align-items: left;
	justify-content: left;
}


.button-create a {
	width: 120px;
	height: 40px;
	margin-top: 30px;

	display: flex;
	grid-template-columns: 1fr 1fr 1fr;

	text-decoration: none;
	color: white;
	background-color: rgb(0, 0, 0);

	align-items: center;
	justify-content: center;
	
	border-radius: 5px;
	margin-left: 15vmax;
} 


.button-create a:hover {
	background-color: #25c02c;
}