@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.black {
    background-color: #000000;
}
.black img{
    padding: 20px;
    margin-left: 126.4px;
}


/* == details== */

h2 {
    color: rgb(0, 0, 0);
    width: 50%;
    margin: 0;
    
}

.top {
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    margin-left: 12%;
}

.details {
    padding: 24px;
    width: 50%;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 15px;
}

.details .item {
    margin-left: 40px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    
}

input {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    

}


input::placeholder {
    text-align: left;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}


.save,
.delete {
    padding: 4px 24px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.save {
    background-color: #40c757;
    margin-left: 20px;
}

.delete {
    background-color: rgb(211, 52, 52);
}

.title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

footer {
    background: #000000;
    height: 62px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 38vmax;

}

footer p {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    line-height: 16px;
    padding: 22px;
}