@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/* menu-global

*/

/* == details== */

.top h3 {
    margin-left: 9vmax;
    margin-top: 20px;
    font-size: 14px;
}

h2 {
    color: rgb(0, 0, 0);
    width: 50%;
    margin: 0;
    
}

.top {
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-left: 12%;
}

.details {
    padding: 24px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
}

.details .item {
    margin-left: 40px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    
}

input {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    border: 1px solid rgb(212, 202, 202);

    

}


input::placeholder {
    text-align: left;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}


.save,
.delete {
    padding: 5px 24px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-left: 25vmax;
}

.save {
    background-color: #40c757;
    margin-left: 10px;
}

.delete {
    background-color: rgb(211, 52, 52);
}

.title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  black;

}
