@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	/* max-width: 100%; */
	/* height: 50vh; */
}

/* menu-global


*/

.recipe-image img {
	width: 20vw;
	height: 40vh;
	border: 2px solid rgb(118, 44, 141);
	object-fit: cover;
	margin-left: 40vmax;
	border-radius: 200%;
	margin-bottom: 20px;

}

h3 {
	font-size: 20px;
	margin-left: 22px;
	
}

h4 {
	font-size: 20px;
	color: #777777;
	margin-left: 15vmax;
}

h5 {
	font-size: 25px;
	margin-left: 15vmax;
	margin-top: 30px;
}

.top {
	display: flex;
	justify-content: space-between;
}	

.edit a {
	display: flex;
	padding: 4px 24px;	
	background-color: #5740aa;
	color: white;
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	

	margin-top: 30px;
	margin-bottom: 15px;
	margin-right: 18vmax;
}

.edit a:hover {
	background-color: #25c02c
}

.recipe-description {
	margin-left: 15vmax;

}

.recipe-information {
	margin-left: 15vmax;
}

.recipe-img img {
	border-radius: 10px;
	max-width: 940px;
}

.recipe-info h2 {
	margin-top: 10px;
	text-align: center;
	
	text-align: center;
	font-size: 30px;
	font-weight: 700;

}

.recipe-info h4 {
	margin-right: 15vmax;
	text-align: center;
	align-items: center;

}

.recipe-info p {
	margin-bottom: 20px;
	text-align: center;
	align-items: center;
	
	color: #a5a4a4;
	font-size: 22px;
}

.recipes-chef {
	margin-top: 80px;
	margin-left: 14vmax;
}


.cards-chef {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.cards-chef  {
	margin-left: 12vmax;
	padding: 15px;
	gap: 50px;
}

.cards-chef .card img {
	margin: 10px 10px 10px;
	width: 25vw;
	height: 25vh;
	border-radius: 20px
}

.visualizar a {
	text-decoration: none;
	color: #381abd
}