@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	padding: 0px 0px;
    font-family: 'Roboto', sans-serif;
}



/* menu-global */

.form-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 620px;
	margin: 0 auto;
}


.form-header-edit {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 620px;
	margin: 0 30vw;
}


/*==FORM==*/

.details {
	width: 40%;
	margin: 0 auto;
}


.details .item {
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
}


input,
select {
	margin-top: 10px;
	padding: 8px;
	border-radius: 4px;
	width: 100%;
	border: solid #ddd5d5  2px;
}


select {
	width: 528px;
	background-color: white;
}


textarea {
	width: 528px;
	margin-right: 10px;
	border-radius: 5px;
	height: 80px;
	margin-top: 8px;
	border: solid #ddd5d5 2px;
	font-family: 'Roboto', sans-serif;
	resize: vertical;
}


input::placeholder,
textarea::placeholder {
	text-align: left;
	padding: 8px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}


#ingredients,
#preparation {
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
}


.save {
	width: 100px;
	height: 30px;

	color: white;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #000000;
	border-radius: 5px;
	cursor: pointer;

}


.save:hover {
	background-color: #23e94e;
}


.add-ingredient {
	width: 100px;
	height: 50;
	margin-bottom: 12px;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 10px;
	background-color: #000000;
	border-radius: 5px;
	cursor: pointer;
}


.add-ingredient:hover {
	background-color: #23e94e;
}



