@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	padding: 0px 0px;
    font-family: 'Roboto', sans-serif;
}

.black {
	background-color: #111111;
	padding: 0px;
	margin: 0px;
}

.black a {
	font-weight: 400;
    font-size: 16px;
    line-height: 15px;
	margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
	margin: 10px;

	align-items: center;
	justify-content: center;
}

.black .logo {
	height: 100px;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}


.black .logo img {
	padding: 28px;
	margin-left: 185.4px;

}

<<<<<<< HEAD

=======
>>>>>>> 2b1cf99f0bc91a6c1253a7d4da18ccd4f5220512
.form-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 620px;
	margin: 0 auto;
<<<<<<< HEAD
	
=======
>>>>>>> 2b1cf99f0bc91a6c1253a7d4da18ccd4f5220512
}

.form-header-edit {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 620px;
	margin: 0 30vw;
}
/*==FORM==*/

.details {
	width: 40%;
	margin: 0 auto;
}

.details .item {
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
}

input,
select {
	margin-top: 10px;
	padding: 8px;
	border-radius: 4px;
	width: 100%;
<<<<<<< HEAD
	border: solid #ddd5d5  2px;
=======
	border: solid #bb8f99 2px;
>>>>>>> 2b1cf99f0bc91a6c1253a7d4da18ccd4f5220512
}

select {
	width: 600px;
}

textarea {
<<<<<<< HEAD
	width: 560px;
	margin-right: 10px;
	border-radius: 5px;
	height: 80px;
	margin-top: 8px;
	border: solid #ddd5d5 2px;
=======
	width: 555px;
	border-radius: 10px;
	height: 80px;
	margin-top: 8px;
	border: solid #F3CED6 2px;
>>>>>>> 2b1cf99f0bc91a6c1253a7d4da18ccd4f5220512
	font-family: 'Roboto', sans-serif;
	resize: vertical;
}

input::placeholder,
textarea::placeholder {
	text-align: left;
	padding: 8px;
	font-family: 'Roboto', sans-serif;
<<<<<<< HEAD
	font-size: 18px;
=======
	font-size: 14px;
>>>>>>> 2b1cf99f0bc91a6c1253a7d4da18ccd4f5220512
}

#ingredients,
#preparation {
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
}

<<<<<<< HEAD
.save {
	width: 100px;
	height: 30px;

	color: white;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #000000;
	border-radius: 5px;
	cursor: pointer;

}

.save:hover {
	background-color: #23e94e;
}

footer {
    background: #000000;
    height: 62px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 20vmax;

}

footer p {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    line-height: 16px;
    padding: 22px;
}

.add-ingredient {
	width: 100px;
	height: 50;
	margin-bottom: 12px;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 10px;
	background-color: #000000;
	border-radius: 5px;
	cursor: pointer;
}

.add-ingredient:hover {
	background-color: #23e94e;
}

=======
#ingredients p,
#preparation p {
	font-size: 14px;
	font-weight: 700;
}
/*==BUTTONS==*/

.save,
.delete {
	margin-top: 10px;
	padding: 8px 16px;
	background-color: #3bc02f;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	transition: 200ms;
	cursor: pointer;
}

.delete {
	background-color: #ad1b1b;
}

.save:hover {
	background-color: #3cc72a;
}

.delete:hover {
	background-color: #811818;
}

.add-ingredient,
.add-preparation {
	text-align: center;
	text-decoration: none;
	padding: 4px 8px;
	background-color: #3bc02f;
	color: white;
	border-radius: 8px;
	font-size: 12px;
	margin-left: 3px;
	margin-top: 4px;
	margin-bottom: 16px;
	cursor: pointer;
}

.add-ingredient:hover,
.add-preparation:hover {
	background-color: #21c429;
}


>>>>>>> 2b1cf99f0bc91a6c1253a7d4da18ccd4f5220512
