@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
    font-size: 14px;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/* menu-global */


/* == details== */

h2 {
    width: 50%;
    color: black;
    margin: 0;
}


.top {
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 12%;
}


.top h3 {
    margin-top: 10px;
    font-size: 14px;
}


.details {
    padding: 24px;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid rgb(212, 202, 202)
}


.details .item {
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: black;
}


input {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    border: 1px solid rgb(212, 202, 202)
}


textarea {
    width: 81%;
    border-radius: 10px;
    height: 80px;
    margin-top: 8px;
    border: 1px solid rgb(212, 202, 202);
    resize: vertical;
}


select {
    width: 50%;
    background-color: white;
    border: 1px solid rgb(212, 202, 202);
}


input::placeholder,
textarea::placeholder {
    text-align: left;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 1px solid rgb(212, 202, 202)
}


#ingredients,
#actions {
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}


#ingredients p,
#actions p {
    font-size: 12px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}


.save,
.delete {
    padding: 4px 24px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}


.save {
    background-color: #40c757;
    margin-left: 20px;
}


.delete {
    background-color: rgb(211, 52, 52);
}


.title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.add-ingredient,
.add-action {
    text-align: center;
    text-decoration: none;
    padding: 4px 8px;
    background-color: rgb(255, 148, 116);
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}