@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	padding: 0px 0px;
	font-family: 'Roboto', sans-serif;
}


/* menu-global */


.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 22px;
	padding: 0 5vmax 0;
	gap: 15px;

	position: relative;
}


.card img {
	width: 28vw;
	height: 20vh;

	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}


.info h1 {
	font-size: 18px;
	color: #111111;
	display: grid;


	font-weight: 500;
	line-height: 21px;
	margin-bottom: 5px;
}


.info p {
	font-size: 14px;
	color: #777777;

	font-weight: 400;
	line-height: 16px;
}


.visualizar a {
	display: flex;
	margin-top: 3px;
	color: rgb(15, 71, 226);
	
	font-size: 15px;
	text-decoration: none;
}


.gerenciar-receitas h1 {
	display: flex;
	grid-template-columns: 1fr 1fr;
	
	margin-top: 40px;
	padding: 10px 5vmax 0;
	align-items: left;
	justify-content: left;
}


.button-create a {
	width: 112px;
	height: 40px;
	margin-top: 30px;

	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
	
	text-decoration: none;
	background-color: rgb(0, 0, 0);
	
	align-items: center;
	justify-content: center;
	
	border-radius: 5px;
	margin-left: 5vmax;
	color: white;
}


.button-create a:hover {
	background-color: #25c02c;
}