{% extends '../layout.njk' %}

{% block title %}
<link rel="stylesheet" href="/admin/create.css">
<title> Criar Receitas </title>
{% endblock title %}

{% block links %}
{% endblock links %}


{% block content %}

 <form class="card" method="POST" action="/admin/recipes">
        <section class="details">
            <div class="top">
                <h2>Criando Receita</h2>
                <button class="save"type="submit">Salvar</button>
            </div>
            {%include '../recipes/fields.njk'%}
        </section>
    </form>
    <script src="/scripts/admin-features.js"></script>


{% endblock content %}


<footer>
	<p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>
