{% extends '../layout.njk' %}

{% block title %}
<link rel="stylesheet" href="../../admin/create.css">
<title> Criar Receitas </title>
{% endblock title %}

{% block header %}
			<div class="black">
				<a>
				<div class="logo">
					<img src="/assets/logo2.png" alt="">
				</div>
				</a>
			</div>
{% endblock header %}

{% block links %}
{% endblock links %}


{% block content %}

 <form class="card" method="POST" action="/admin/recipes">
        <section class="details">
            <div class="top">
                <h2>Criando receita</h2>
                <button class="save" type="submit">Salvar</button>
            </div>
            {%include './fields.njk' %}
        </section>
    </form>

{% endblock content %}

{% block footer %}
<footer>
	<p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>
{% endblock footer %}
