{% extends "../layout.njk" %}

{%block title%}
  <link rel="stylesheet" href="/admin/edit.css">
<link rel="stylesheet" href="../../../admin/menu-global.css">

  <title> Editar Receita </title>
{% endblock title %}


{% block content %}

  <div class="forms">

    <div class="top">
      <h3>Receita: {{recipe.title}}</h3>
      <div class="edit-buttons">
        <button type='submit' form='form-delete' class='delete'>Deletar</button>
        <button type='submit' form='form-edit' class='save'>Salvar</button>
      </div>
    </div>

    <form id='form-edit' method='POST' action='/admin/recipes/?_method=PUT'>
      <section class="details">
       {%include './fields.njk' %}
        <input type="hidden" name='id' value="{{recipe.id}}">
      </form>
    </section>

    <form id='form-delete' action="/admin/recipes?_method=DELETE" method="POST">
      <input type="hidden" name="id" value='{{recipe.id}}'>
        {%include '../../confirm.njk'%}
    </form>
  </div>

{% endblock %}

