{% extends '../layout.njk' %}

{% block title %}
<link rel="stylesheet" href="create.css">
<link rel="stylesheet" href="recipes.css">
<title> Gerenciar Receitas </title>
{% endblock title %}

{% block links %}
{% endblock links %}

{% block header %}
			<div class="black">
				<a href="/">
				<div class="logo">
					<img src="/assets/logo2.png" alt="">
				</div>
				</a>
			</div>
{% endblock header %}

{% block content %}

<div class="button-create">
	<a href="/admin/recipes/create">Criar Receita</a>
</div>

<section class="cards">
	{% for recipe in recipes %}
		<div class="card" name="{{recipe.name}}" id="{{recipe.id}}">
			<img src="{{recipe.image}}">
				<div class="visualizar">
						<a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
      	</div>
			<div class="info">
				<h1>{{recipe.name}}</h1>
				<p>{{recipe.author}}</p>
			</div>
		</div>
	{% endfor %}
</section>

{% endblock content %}

{% block footer %}
<footer>
	<p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>
{% endblock footer %}

