{%extends '../layout.njk' %}


{% block title %}
<link rel="stylesheet" href="/admin/show.css">
</div>
<title>{{recipe.name}}</title>
{% endblock title %}

{% block header %}
	<a href="/admin/recipes">
			<div class="logo">
				<img src="/assets/logo2.png" alt="">
	</a>
			</div>
{% endblock header %}



{% block content %}
<div class="cards">
	<div class="card">
		<section class="details">
			<div class="top">
				<h5>Receita:{{recipe.name}}</h5>

 				<div class="edit"><a href="/admin/recipes/{{recipe.id}}/edit" class="button">
        Editar</a></div>
			</div>

	<div class="recipe-image">
		<img src="{{recipe.image}}" alt="imagem de {{recipe.name}}">
	</div>

	<div class="recipe-info">
		<div><h2>{{recipe.name}}</h2></div>
		<div><p>{{recipe.author}}</p></div>
	</div>

	<div class="recipe-description">
		<div><h3> Ingredientes </h3></div>
		<ul>
		{% for ingredient in recipe.ingredients %}
			<li>{{ingredient}}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="recipe-description">
		<div><h3> Modo de preparo </h3></div>
			<ul>
			{% for action in recipe.actions %}
			<li>{{action}}</li>
			{% endfor %}
		</ul>
	</div>

		</section>
	</div>
</div>

{% endblock content %}