{%extends '../layout.njk' %}

{% block title %}
<link rel="stylesheet" href="/admin/show.css">
<link rel="stylesheet" href="/admin/menu-global.css">
<title>{{recipe.title}}</title>
{% endblock title %}

{% block content %}

<div class="cards">
	<div class="card">
		<section class="details">
			<div class="top">
				<h5>Receita: {{recipe.title}}</h5>

				<div class="edit">
					<a href="/admin/recipes/{{recipe.id}}/edit" class="button">Editar Receita</a>
				</div>
			</div>
			<div class="highlight">
				<div class="recipe-image">
					{% if not files[0] %}
					<img src="http://placehold.it/900X900?text=RECEITA SEM FOTO" alt="imagem de {{recipe.title}}">
					{% else %}
					<img src="{{files[0].src}}" alt="{{files[0].name}}">
					{% endif %}
				</div>

				<div class="gallery-preview">
					{% for image in files %}
					<img src="{{image.src}}" alt="{{image.name}}" {% if loop.index0 == 0 %} class='active' {% endif %}
						onclick="ImageGallery.setImage(event)"
						>
					{% endfor%}
				</div>
			</div>

			<div class="recipe-info">
				<div>
					<h2>{{recipe.title}}</h2>
				</div>
				<div>
					<p>{{recipe.chefs_name}}</p>
				</div>
			</div>

			<div class="recipe-description">
				<div>
					<h3> Ingredientes </h3>
				</div>

				<ul>
					{% for ingredient in recipe.ingredients %}
					<li>{{ingredient}}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="recipe-description">
				<div>
					<h3> Modo de preparo </h3>
				</div>

				<ul>
					{% for preparation in recipe.preparation %}
					<li>{{preparation}}</li>
					{% endfor %}
				</ul>

			</div>

			<div class="recipe-information">
				<div>
					<h3>Informações adicionais </h3>
				</div>
				<ul>
					{# {% for information in recipe.information %} #}
					<li>{{recipe.information}}</li>
					{# {% endfor %} #}
				</ul>
			</div>
		</section>
	</div>

	<script src="/scripts/image-gallery.js"></script>
</div>

{% endblock content %}