<script>
const formDelete = document.querySelector("#form-delete")
formDelete.addEventListener("submit", function(event) {
    const confirmation = confirm("Você quer mesmo DELETAR?")
    if (!confirmation) {
        //Stop event(submit) 
        event.preventDefault()
    }
})
</script>