{% block head %}
<title>Foodfy</title>
<link rel="stylesheet" href="main/styles.css">
{% endblock head%}

{% block links %}
<header>
  <a href="/">
    <img src="/assets/logo.png" alt="Logo Foodfy" />
  </a>
  <a href="/about">Sobre</a>
  <a href="/recipes">Receitas</a>
  <a href="/chefs">Chefs</a>
  <a href="/admin/recipes">Painel de admin</a>

</header>

{% endblock links%}

{% block content %}
{% endblock content%}


</main>
<footer>
  <p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

</body>

</html>

<script src="../../scripts/menu.js"></script>