{% block head %}
<title>Foodfy</title>
<link rel="stylesheet" href="main/styles.css">
{% endblock head%}

{% block links %}
<header>
  <a href="/">
    <img src="/assets/logo.png" alt="Logo Foodfy" />
  </a>
  <a href="/about">Sobre</a>
  <a href="/recipes">Receitas</a>
  <a href="/chefs">Chefs</a>
  
    <div class="header-search">
     <a href="/recipes/create"></a>
     <form class="search-button"action="/search" method="GET">
      <div class="search">
          <input 
          type="text"
          name="filter"
          placeholder="Procurando algo?"
        >
        <button type="submit">Pesquisar</button>

     </form>

  </div>
  </div>

</header>

{% endblock links%}

{% block content %}
{% endblock content%}

</main>

<footer>
  <p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

</body>
</html>

<script src="../../scripts/menu.js"></script>